<%= turbo_stream_from @room %>
<div class="flex flex-col h-screen">
  <!-- Left Panel -->
  <p style="color: green"><%= notice %></p>
  <%= turbo_frame_tag "room", class: "h-48 bg-gray-100 p-4 border-r shrink-0" do %>
    <%= render @room %>

    <div>
      <%= link_to "Edit this room", edit_room_path(@room) %> |
      <%= link_to "Back to rooms", rooms_path, "data-turbo-frame": "_top" %>

      <%= button_to "Destroy this room", @room, method: :delete %>
    </div>
  <% end %>

  <!-- Middle Panel (Main Content) -->
  <div id="messages" class="flex-1 bg-white border-b overflow-y-auto">
    <div class="p-4">
      <%= render @room.messages %>
    </div>
  </div>

  <!-- Right Panel -->
    <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top", class: "h-24 bg-gray-50 p-4 border-l" %>
</div>
